body {
  font-family: roboto;
  color: rgb(19, 18, 18);
}

form {
  width: 150px;
  height: 250px;
  margin-left: 50px;
  margin-top: 50px;
  border: 1px solid black;
  font-size: 15px;
}

fieldSet {
  margin-left: 5px;
  padding-top: 10px;
}

input{
  margin-top: 3px;
  margin-bottom: 10px;
}