body {
  font-family: roboto;
  color: rgb(19, 18, 18);
}

ul {
  margin-left: 60px;
  font-family: verdana;
  color: rgb(100, 3, 3);
}

h3 {
  margin-left: 30px;
  margin-top: 20px;
}

li {
  list-style-type: disc;
  margin-top: 10px;
}